@font-face {
    font-family: outfit;
    src: url(outfit-font.ttf);
  }
  body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
.attribution { 
   margin-top: 30px;
    font-size: 11px; 
    text-align: center; 
    font-family: outfit;
    font-weight: 400;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    font-family: outfit;
    font-weight: 400;
}

.text{
    font-family: outfit;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%);

}

.page-title{
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.qr-code{
    max-width: 250px;
    border-radius: 10px;

}

.card-content{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 250px;
    margin-top: 20vh;
}